html, body {
    padding: 0px;
    margin: 0px;
    padding-top: 50px;
    height: 100%;
    font-family: 'Hind', Montserrat, Arial, Helvetica, sans-serif;
}

/* Liens trucs */

 .offset::before {
    display: block;
    content: " ";
    height: 70px;
    /* Give height of your fixed element */
    visibility: hidden;
}

h1 {
    color: #345;
    text-shadow: 1px 1px 2px #aaa;
}

.lien {
    padding: 1px;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 8px;
}

.light {
    color: #4e4e4e;
    font-size: 80%;
}

.separator {
    margin: 0;
    height: 3px;
    background-color: #d5d7b6;
    border: 0;
}

.container-fluid {
    padding: 0px !important;
}

/* Navbar */

#TopBar {
    background-color: #e8cea3;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    z-index: 10;
}

#TopBar ul {
    padding: 5px 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#TopBar li {
    margin: 0px 10px;
    font-size: 20px;
    background-color: white;
    border-radius: 30px;
    padding: 14px 16px;
}

#TopBar a {
    float: left;
    display: block;
    color: #ffa37e;
    text-align: center;
    text-decoration: none;
}

#TopBar a:hover {
    color: #ff5b18;
    text-decoration: underline overline;
}

/* Header */

header {
    height: 300px;
    color: #ff5b18;
    font-size: 120%;
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    position: static;
    background-image: url("../images/trent-erwin-338084-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-top: 3px solid #ffa37e;
    border-bottom: 3px solid #ffa37e;
}

header h1{
    color: #ff5b18;
}

header>article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header>article>div.mainBlock {
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: -5%;
    padding: 20px;
    width: inherit;
}

header i {
    color: #ff5b18;
    margin-right: 10px;
}

header a {
    color: #ff5b18;
    text-decoration: underline;
}

header a:hover {
    color: #ff5b18;
}

/* Simplon into intro */

#MidMenu {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 50px 0px;
    box-shadow: 5px 20px 8px #888888;
}

#MidMenu div {
    padding: 20px;
    width: 35%;
    height: inherit;
}

#MidMenu .light {
    font-size: 100%;
}

.simplon img {
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid #4e4e4e;
}

/* Gallery Stuff */

section.gallery h3, #contact h2 {
    color: #ff7f4b;
    margin-left: 10px;
    text-align: left;
}

#HeaderContainer {
    background-color: #e8e9d7;
    box-shadow: 5px 20px 8px #888888;
    margin-top: -5Opx;
}

section.gallery {
    margin: 0px 10%;
}

.gallery article>div {
    text-align: center;
    padding-bottom: 10px;
    margin: 10px;
    background-color: white;
    min-height: 220px;
    opacity: 0.8;
    border-radius: 10px;
}

.gallery article>div:hover {
    box-shadow: 0 0 0 2px #ff7f4b;
    opacity: 1;
}

section.gallery img {
    padding: 15px;
    width: 100%;
    opacity: 1;
}

/* Biographie d'une légende */

.photo {
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url("../images/skellerCarre.png");
    background-size: 100%;
    border: 2px solid #ff7f4b;
}

#whoami h3 {
    font-size: 3rem;
    text-align: center;
    color: #ff7f4b;
}

.SkillsList h2 {
    margin: 20px 0px;
    text-align: center;
    color: #c28a30;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 30px;
    margin: 30px 15%;
}

.SkillsList {
    grid-column: span 1;
    background-color: #e8e9d7;
    box-shadow: 5px 20px 8px #888888;
}

.SkillsList>ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    grid-gap: 10px;
    list-style: none;
    color: #2e2e2e;
    padding-inline-start: 30px;
    padding-inline-end: 20px;
}

.SkillsList li::before {
    content: "#  ";
    color: #996d26;
}

/* Formulaire Contact */

/*#contact>#MidMenu{
    padding-top: 0px;
}*/

#contact {
    width: 100%;
    height: 100%;
    background-color: #e8e9d7;
    box-shadow: 5px 20px 8px #888888;
}

#contact div {
    background-color: white;
    color: #2e2e2e;
}

#contact img {
    margin: 10px 25%;
    border-radius: 10px;
    opacity: 0.8;
    width: 50%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

p.ContactTexte {
    width: 100%;
    text-align: justify;
}

#BotMenu {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 50px 0px;
    box-shadow: 5px 20px 8px #888888;
}

#BotMenu div {
    padding: 20px;
    width: 35%;
    height: inherit;
}

/* Footer */

footer {
    padding: 5px;
    width: 100%;
    text-align: center;
    background-color: #e8e9d7;
}

#FooterSocials .fa, #FooterSocials .fab {
    color: #ff7f4b;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

#FooterSocials .fa:hover, #FooterSocials .fab:hover {
    color: #ff5b18;
}

#FooterSocials {
    margin-top: 50px;
    height: 100%;
    text-align: center;
    padding: 20px;
}

#FooterSocials div div {
    display: inline;
}

/* Media Queries*/

@media screen and (max-width: 1024px) {
    /* Ipad & Phone */
    header {
        height: 200px;
    }
    .skills {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 30px;
        margin: 30px 5%;
    }
    .SkillsList>ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        list-style: none;
    }
    #MidMenu {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    #MidMenu div {
        height: inherit;
        margin: auto;
        width: 70%;
    }
    #MidMenu img {
        margin: auto;
    }
    #contact img {
        margin: 10px 10%;
        border-radius: 10px;
        opacity: 0.8;
        width: 80%;
        height: auto;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }
    #TopBar li {
        margin: 0px 10px;
        font-size: 20px;
        background-color: white;
        border-radius: 30px;
        padding: 14px 8px;
    }
}
/* Modal CSS */
.modal-dialog {
    max-width: 80vw!important;
}
.modal-body > div{
    min-height:75vh;
    background-repeat: no-repeat;
    background-size: auto;
}
.modal-body p{
    min-height: 80%;
    text-align: center;
}
.modal-body .col-6 div{
    width: 100%;
    display: flex;
    justify-content:space-around;
}
.modal-header > h5, .modal-body a{
    color: #ff5b18;
    margin: 0 auto;
    text-align: center;
}
.modal-body a:hover, .modal-body a:active{
    color: #ff7f4b;
}

